//describe variables
$main: #fff;
$font: #333;
$header-nav-border: #e8e8e8;
$nav-hover: #4586a9;
$nav-color: #888;
$promo: #4586a9;
$headings: #606571;

//breakpoint 

$medium: 51em;
$large: 61em;
$pre-medium: 38em;
$banner: 43em;
